#mysvg{
    width: 1500px;
    height: 1000px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100
}
.grid{
    width: 1500px;
    height: 1000px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.showProvince{
    width: 1500px;
    height: 1000px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3
}
